html {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 210px;
  height: 200px;
}

.navItems {
  padding: 50px 0px;
  font-size: 24px;
}

.navItems > ul {
  display: flex;
  list-style-type: none;
}

.navItems > ul > li {
  padding: 10px;
  margin: 10px;
}

/* .body {
  border: 1px solid black;
  padding: 20px;
} */

.search {
  padding: 10px;
}

.restContainer {
  display: flex;
  flex-wrap: wrap;
}

.restCard {
  margin: 20px;
  padding: 0px 5px;
  height: 350px;
  width: 235px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgb(249, 236, 213);
}

.restCard:hover {
  cursor: pointer;
  border: 1px solid black;
}

.foodImage {
  width: 212px;
  padding: 10px;
}

h3, h4, p {
  margin: 10px;
}