html {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 210px;
  height: 200px;
}

.navItems {
  padding: 50px 0px;
  font-size: 24px;
}

.navItems > ul {
  display: flex;
  list-style-type: none;
}

.navItems > ul > li {
  padding: 10px;
  margin: 10px;
}

.login {
  padding: 0 29px;
  margin: 0 15px 0 15px;
  font-size: 20px;
  cursor: pointer;
}

/* .body {
  border: 1px solid black;
  padding: 20px;
} */

/* .search {
  padding: 10px;
} */

.restContainer {
  display: flex;
  flex-wrap: wrap;
}

.restCard {
  margin: 20px;
  padding: 0px 5px;
  /* height: 350px; */
  width: 235px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgb(249, 236, 213);
}

.restCard:hover {
  cursor: pointer;
  border: 1px solid black;
}

.foodImage {
  width: 212px;
  padding: 10px;
}

h3,
h4,
p {
  margin: 10px;
}

#shimmerContainer {
  display: flex;
  flex-wrap: wrap;
}

#shimmerCard {
  height: 350px;
  width: 250px;
  background-color: #f0f0f0;
  margin: 20px;
}

.classContainer {
  border: 1px solid black;
  padding: 5px 20px 15px 20px;
}

.functionContainer {
  border: 1px solid salmon;
  padding: 20px;
  margin-top: 20px;
  width: 15vh;
}
